<div class="box-shadow">
    <h3>Inventory: </h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">  </th>
                <th scope="col">Name </th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">  </th>
            </tr>
        </thead>
        <tbody>
           @* @foreach (var i in Model)
            {


                <tr>
                    <td style="background-color:lightcoral;"><a asp-controller="User" asp-action="Edit" id="button" asp-route-id="@i.Id">Edit</a></td>
                    <td style="background-color:lightcoral;">@i.Name</td>
                    <td style="background-color:lightcoral;">@i.Description</td>
                    <td style="background-color:lightcoral;">@i.Quantity</td>
                    <td style="background-color:lightcoral;">@i.Price</td>
                    <td style="background-color:lightcoral;"><a asp-controller="User" asp-action="Completed" id="button" asp-route-id="@i.Id">Remove</a></td>

                </tr>


            }*@


        </tbody>

    </table>
</div>
